body {
  background: #eee;
  font-family: comic-sans;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 4px;
}

.title {
  background: #e3f4ff;
  font-weight: bold;

}

.content {
  margin-top: -5px;
  background: #e3f4ff;
  margin-bottom: 20px;
}

.button {
  display: block;
  text-align: center;
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid #eee;
}